{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "eol-last": 0,
    "id-length": 0,
    "key-spacing": [2, { "align": "value" }],
    "jsx-quotes": [2, "prefer-single"],
    "no-else-return": 0,
    "spaced-comment": 0,

    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/wrap-multilines": 0
  },
  "plugins": [
    "react"
  ]
}